<!doctype html>
<html ng-app="demo">
<head>
  <meta charset="utf-8">
  <title>AngularJS directive demo</title>

  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="../dist/json-selector.min.css">
  </div>
  <link rel="stylesheet" href="demo.css">
</head>
<body ng-controller="MainCtrl">
<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active"><a ng-href="https://github.com/31piy/json-selector" target="_blank">Code in GitHub</a></li>
    </ul>
    <h1 class="text-muted">&lt;json-selector&gt;</h1>
  </div>

  <div class="row marketing">
    <h4>About</h4>
    <p>
      An angular directive for formatting and selecting elements from JSON objects.
    </p>
    <h4>How to use</h4>
    <p>Install via Bower
    <p>
    <p><code>bower install json-selector --save</code></p>
    <p>Add <code>jsonSelector</code> to your app dependencies</p>
    <p>
    <pre>angular.module('myApp', ['jsonSelector'])</pre>
    </p>
    <p>Use <code>&lt;json-selector&gt;</code> directive</p>
    <p>
    <pre>&lt;json-selector open="1" json="{my: 'json'} selectable="true" allow-root-select="false" model="mymodel"&gt;&lt;/json-selector&gt;</pre>
    </p>
    <p><code>open</code> attribute accepts a number that indicated how many levels JSON should be open</p>
    <p><code>json</code> attribute sets the JSON which needs to be rendered.</p>
    <p><code>selectable</code> sets whether the nodes are selectable via checkboxes.</p>
    <p><code>allow-root-select</code> allows/denies selecting of root element.</p>
    <p><code>model</code> is an array of expressions which are selected.</p>

    <h4>Demo</h4>
    <div class="tests">
      <div class="result">
        <json-selector json="complex" open="1" selectable="true" model="mymodel"></json-selector>
      </div>
      <div class="result">Selected elements: <code>{{mymodel | json}}</code></div>
    </div>

    <h4>Live JSON</h4>
    <div class="result">
      <textarea ng-model="textarea" class="col-xs-6"></textarea>
      <div class="col-xs-6">
        <json-selector json="textareaJson" open="1"></json-selector>
      </div>
    </div>

    <h4 id="examples">Other Examples</h4>
    <div class="tests">
      <div class="group">

        <h4>Null</h4>
        <div class="result">
          <json-selector open="1" json='null'></json-selector>
        </div>

        <h4>Undefined</h4>
        <div class="result">
          <json-selector open="1" json='undef'></json-selector>
        </div>

        <h4>Number</h4>
        <div class="result">
          <json-selector open="1" json='42'></json-selector>
        </div>

        <h4>String</h4>
        <div class="result">
          <json-selector open="1" json='"Hello world!"'></json-selector>
        </div>

        <h4>Date String</h4>
        <div class="result">
          <json-selector open="1" json='"Sun Aug 03 2014 15:03:26 GMT-0700 (PDT)"'></json-selector>
        </div>

        <h4>URL String</h4>
        <div class="result">
          <json-selector open="1" json='"https://github.com/mohsen1/json-selector"'></json-selector>
        </div>

        <h4>Function</h4>
        <div class="result">
          <json-selector open="1" json="fn"></json-selector>
        </div>

        <h4>Empty object</h4>
        <div class="result">
          <json-selector open="1" json="{}"></json-selector>
        </div>

        <h4>Empty array</h4>
        <div class="result">
          <json-selector open="1" json="[]"></json-selector>
        </div>

        <h4>Object with one key</h4>
        <div class="result">
          <json-selector open="1" json="{me: 1}"></json-selector>
        </div>

        <h4>Nested Object</h4>
        <div class="result">
          <json-selector open="1" json="{me: {you: 2}}"></json-selector>
        </div>

        <h4>Array</h4>
        <div class="result">
          <json-selector open="1" json="['one', 'two', 'three']"></json-selector>
        </div>

        <h4>Complex Object</h4>
        <div class="result">
          <json-selector open="1" json='complex'></json-selector>
        </div>

        <h4>Object with long key</h4>
        <div class="result">
          <json-selector open="1" json='{
            "a_very_llllllllllllllllllllllllllllllllong_key": {m3:1},
          }
          '></json-selector>
        </div>

        <h4>Object with empty key</h4>
        <div class="result">
          <json-selector open="1" json='{"": {m3:1},}'></json-selector>
        </div>

        <h4>Dates</h4>
        <div class="result">
          <json-selector open="1" json='{
          "Date.toJSON": "2014-08-03T21:44:46.490Z",
          "newDate": "Sun Aug 03 2014 14:44:46 GMT-0700 (PDT)",
          "Date.now": 1407102492243
        }'></json-selector>
        </div>

        <h4>Long String content</h4>
        <div class="result">
          <json-selector open="1" json='{
        "long": "Slow-carb hella vegan, Bushwick flexitarian Portland roof party photo booth forage. Fixie try-hard gastropub Etsy single-origin coffee bitters. Crucifix sartorial squid, bitters chillwave before they sold out farm-to-table mustache direct trade \ndeep v bicycle rights Austin bespoke. Odd Future sriracha Thundercats whatever pork belly Marfa, mumblecore gluten-free dreamcatcher. Dreamcatcher next level polaroid mustache fap gentrify typewriter. PBR Shoreditch cred, pug narwhal slow-carb seitan. Bushwick +1 banjo, chia flexitarian keytar retro PBR&B cred."
      }'></json-selector>
        </div>

        <h4>HTML content</h4>
        <div class="result">
          <json-selector open="1" json='{html: "<h1>H1 Heading</h1>"}'></json-selector>
        </div>

        <h4>Opened 1 level</h4>
        <div class="result">
          <json-selector json='deep' open=""></json-selector>
        </div>

        <h4>Opened 2 level</h4>
        <div class="result">
          <json-selector json='deep' open="2"></json-selector>
        </div>

        <h4>Opened 3 level</h4>
        <div class="result">
          <json-selector json='deep' open="3"></json-selector>
        </div>

        <h4>Opened 4 level</h4>
        <div class="result">
          <json-selector json='deep' open="4"></json-selector>
        </div>

        <h4>Custom constructors</h4>
        <div class="result">
          <json-selector open="1" json='person'></json-selector>
        </div>

        <h4><code>ng-repeat</code></h4>
        <p>If you are iterating in an array of objects, make sure you are using <code>track by $index</code> to avoid
          adding extra <code>$$hashKey</code> to your objects.</p>
        <h5>With <code>track by $index</code></h5>
        <div class="result">
          <json-selector ng-repeat="item in randArray1 track by $index" json="item"></json-selector>
        </div>
        <h5>Without <code>track by $index</code></h5>
        <div class="result">
          <json-selector ng-repeat="item in randArray2" json="item"></json-selector>
        </div>

        <h4>Dark theme</h4>
        <p>To use dark theme add <code>json-selector-dark</code> class this directive. Note that <code>json-selector-dark</code>
          class make text and other elements lighter so they look good on a dark background.</p>
        <div class="result dark">
          <json-selector open="1" json='complex' class="json-selector-dark"></json-selector>
        </div>

        <h4>Altering JSON object</h4>
        <label>
          <input type="checkbox" ng-model="c">
          <span>Alternate <code>json</code></span>
        </label>
        <div class="result">
          <json-selector json="c ? alternate1 : alternate2" open="1"></json-selector>
        </div>

        <h4>Giant JSON</h4>
        <p>(for performance testing)</p>
        <label>
          <button ng-click="fetchGiantJSON()">Fetch</button>
        </label>
        <div class="result" ng-init="giantOpen = 1;">
          <json-selector json="giant" open="100"></json-selector>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>License Apache 2</p>
  </div>

</div>
<script src="../dist/json-selector.min.js"></script>
<script src="demo.js"></script>
</body>
</html>
